@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-600);
  --color-primary-background: var(--color-gray-300);
  --color-primary-foreground: var(--color-white);
  --font-sans: var(--font-inter), sans-serif;
  --font-sans--font-feature-settings: "calt" 1, "dlig" 1, "liga" 1, "ss01" 1,
    "tnum" 1;
}

html,
body {
  min-height: 100vh;
}
