@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-600);
  --color-primary-background: var(--color-gray-300);
  --color-primary-foreground: var(--color-white);
}

html,
body {
  min-height: 100vh;
}
